@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
  background-image: url('images/BKimg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

button {
  font-family: 'Rajdhani', sans-serif;
}

.centered {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

#welcome {
  color: #ec927e;
  font-size: 5rem;
  font-weight: bolder;
  border-style: double;
  padding: 2rem;
  border-radius: 300em;
}

ul {
  list-style: none;
}

#answers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#start-quiz-button {
  padding: 1em;
  border-radius: 300px;
  background-color: #fcfef7;
  font-size: medium;
  font-weight: bold;
  margin-top: 20px;
}

/*Countdown Timer*/
#count-down {
  font-size: 50px;
  color: #cf9385;
  text-shadow: 0px 0px 3px black;
  text-shadow: initial;
}

.answer-btn {
  width: 650px;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 500px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out 0s;
  background-color: rgba(228, 224, 224, 0.85);
  padding: 5px 0px;
  color: #4e629b;
}
.choice {
  color: #000000;
}
.answer-btn:hover {
  box-shadow: 0px 0px 7px black;
  transform: scale(1.2);
}

.correct {
  background-color: #15c486;
  color: #fcfef7;
}

.wrong {
  background-color: #ea2a2a;
  color: #fcfef7;
}

h1 {
  color: #4d67af;
  font-size: 50px;
  text-align: center;
  background-color: rgba(228, 224, 224, 0.85);
  padding: 1em;
  border-radius: 300px;
  text-shadow: 0px 0px 1px whitesmoke;
  margin-bottom: 20px;
}

#next-question-button {
  padding: 10px;
  border-radius: 300px;
  margin-top: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: #fcfef7;
}
